.about-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0rem var(--mainPaddingX);
  z-index: 100;
  position: relative;
}

.about-column {
  flex: 1;
  height: 100%;
  /* border: 2px solid green; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.large-h1 {
  font-size: 15rem;
}

.about-header-inline-div,
.about-me-inline-div {
  display: inline-block;
}

.about-header-inline-div {
  transform: translateY(-200px);
}

.about-me-inline-div {
  transform: scale(0);
}

@media screen and (max-width: 850px) {
  .large-h1 {
    font-size: 10rem;
  }
}

@media screen and (max-width: 650px) {
  .about-page {
    grid-template-columns: repeat(1, 1fr);
  }
}
