/*global CSS/ utility classes */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainPaddingX: 16rem;
  --paddingOffset: 14rem;
  --black: black;
  --white: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.9rem;
}

h4 {
  font-size: 2.1rem;
}

h5 {
  font-size: 1.3rem;
}

p {
  font-size: 1.2rem;
}

.page {
  height: 100vh;
  padding-top: var(--paddingOffset);
}

@media screen and (max-width: 950px) {
  :root {
    --mainPaddingX: 4rem;
  }

  h1 {
    font-size: 3.3rem;
  }

  h2 {
    font-size: 2.6rem;
  }

  h3 {
    font-size: 2.1rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  p {
    font-size: 1rem;
  }
}
